*{
    padding: 0;
    margin: 0;
}
body{
    background-color: beige;
}
header{
    width: 100%;
    height: 80px;
    background-color: darkkhaki;
    display:flex;
    align-items: center;
    height: 100%;
}
header > div{
    width: 50%;
}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

nav >  a{
    display: inline;
    margin-left: 5px;
    margin-right: 30px;
    color:white;
    text-decoration: none;
}
#contenido{
    width: 80%;
    margin: 10px auto;
}

.productos{
    display: flex;
    flex-wrap: wrap;
}

.productos .producto{
    width: 25%;
}